In [9]:
import pandas as pd
import numpy as np
import random 
d={
  'A':np.random.randint(0,10),
  'B':np.random.randint(0,10), 
  'C':np.random.randint(0,10),
  'D':np.random.randint(0,10),
 }
df=pd.DataFrame(d,index=list('0123'))
df

   A  B  C  D
0  9  6  5  8
1  9  6  5  8
2  9  6  5  8
3  9  6  5  8

In [5]:
import pandas as pd
import numpy as np
import random 
df=pd.DataFrame(
    data =np.random.randint(10,100,size=(4,6)),
    index=['bright','red','yellow','green'],
    columns=['chinese','math','english','chemics','pysics','biology']
    )
print(df)

        chinese  math  english  chemics  pysics  biology
bright       41    97       74       54      33       99
red          38    93       29       38      62       69
yellow       85    91       86       89      14       88
green        94    95       87       41      98       45

In [14]:
print(df[1:3])
print(df.iloc[3:])
print(df['bright':'yellow'])
df.loc['bright':'yellow']

        chinese  math  english  chemics  pysics  biology
red          38    93       29       38      62       69
yellow       85    91       86       89      14       88
       chinese  math  english  chemics  pysics  biology
green       94    95       87       41      98       45
        chinese  math  english  chemics  pysics  biology
bright       41    97       74       54      33       99
red          38    93       29       38      62       69
yellow       85    91       86       89      14       88

        chinese  math  english  chemics  pysics  biology
bright       41    97       74       54      33       99
red          38    93       29       38      62       69
yellow       85    91       86       89      14       88

In [29]:
df.iloc [:,3:6] 
df.loc[:,'math':'pysics']

        chemics  pysics  biology
bright       54      33       99
red          38      62       69
yellow       89      14       88
green        41      98       45

        math  english  chemics  pysics
bright    97       74       54      33
red       93       29       38      62
yellow    91       86       89      14
green     95       87       41      98

In [31]:
print(df.iloc[1:3,3:6])
df.loc['red':'green','math':'pysics']

        chemics  pysics  biology
red          38      62       69
yellow       89      14       88

        math  english  chemics  pysics
red       93       29       38      62
yellow    91       86       89      14
green     95       87       41      98

In [ ]:
import pandas as pd
import numpy as np
import random 
df1=pd.DataFrame(
    data =np.random.randint(10,100,size=(4,6)),
    index=['bright','red','yellow','green'],
    columns=['chinese','math','english','chemics','pysics','biology']
    )
print(df1)

df2=pd.DataFrame(
    data =np.random.randint(10,100,size=(4,6)),
    index=['bright','red','pink','blue'],
    columns=['chinese','math','english','chemics','pysics','biology']
    )
print(df2)
df1.add(df2,fill_value=0)

In [ ]:
print(df1.divide(df2,fill_value=1))
df1.divide(df2,fill_value=2)

In [19]:
import pandas as pd
import numpy as np
import random 
s1=pd.Series(
    index=['bright','red','yellow','green'],
    data =np.random.randint(10,100)
)
print(s1)

bright    50
red       50
yellow    50
green     50
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
import random 
df1=pd.DataFrame(
    data =np.random.randint(10,100,size=(4,6)),
    index=['bright','red','yellow','green'],
    columns=['chinese','math','english','chemics','pysics','biology']
    )
print(df1)

df2=pd.DataFrame(
    data =np.random.randint(10,100,size=(4,6)),
    index=['bright','red','pink','blue'],
    columns=['chinese','math','english','chemics','pysics','biology']
    )
print(df2)
df1.add(df2,fill_value=0)

In [34]:

s1=pd.Series(
    index=df1.index,data =np.random.randint(10,100)
)

print(s1)

bright    71
red       71
yellow    71
green     71
dtype: int64

In [35]:
s2=pd.Series(
    index=df1.columns,data =np.random.randint(10,100)
)

print(s2)

chinese    98
math       98
english    98
chemics    98
pysics     98
biology    98
dtype: int64

# 当axis=0 指的是对行操作 ，当axis=1 时，指的是对列操作
# 默认对列操作，因此不设置axis 的值时，是对列操作 ，或者设置 axis=1

In [39]:
print(df1)
print(df1+s2)
print(df1.add(s2))
print(df1.add(s2,axis=1))
df1.add(s1,axis=0)

        chinese  math  english  chemics  pysics  biology
bright       30    91       24       62      74       62
red          55    15       83       32      85       83
yellow       58    84       44       92      34       22
green        88    13       57       11      80       12
        chinese  math  english  chemics  pysics  biology
bright      128   189      122      160     172      160
red         153   113      181      130     183      181
yellow      156   182      142      190     132      120
green       186   111      155      109     178      110
        chinese  math  english  chemics  pysics  biology
bright      128   189      122      160     172      160
red         153   113      181      130     183      181
yellow      156   182      142      190     132      120
green       186   111      155      109     178      110
        chinese  math  english  chemics  pysics  biology
bright      128   189      122      160     172      160
red         153   113      181      130     183      181
yellow      156   182      142      190     132      120
green       186   111      155      109     178      110

        chinese  math  english  chemics  pysics  biology
bright      101   162       95      133     145      133
red         126    86      154      103     156      154
yellow      129   155      115      163     105       93
green       159    84      128       82     151       83

# 创建多层索引
# 1.隐式构造：最常见的是给Data Frame 构造函数index 参数 ，columns 参数传递两个或者更多的数组
# 2.显式构造：数组，元组，笛卡尔积（使用笛卡尔积，要求不同层的行列名要一致）

In [45]:
# 隐式构造
import pandas as pd
import numpy as np
import random 

data=np.random.randint(0,100,size=(6,6))
index=[['class 1','class 1','class 1','class 2','class 2','class 2'],
           ['bright','red','pink','blue','yellow','green'] ]
columns=[['MID','MID','MID','FIN','FIN','FIN'],
             ['chinese','math','english','chemics','pysics','biology']]
df1=pd.DataFrame(data=data,index=index,columns=columns)
df1

                   MID                  FIN
               chinese math english chemics pysics biology
class 1 bright      98   10      39      68     88      86
        red         48   42      13      70     74       1
        pink        37   12      72       9     53      76
class 2 blue        95   90      45       7     99      49
        yellow       5   58      75      98     60       2
        green       54   87      36      72     44      80

In [50]:
#隐式构造----series 创建多层索引
import pandas as pd
import numpy as np
import random 

data=np.random.randint(0,100,size=(6))
index=[['class 1','class 1','class 1','class 2','class 2','class 2'],
       ['bright','red','pink','blue','yellow','green'] ]
s=pd.Series(data=data,index=index)
s

class 1  bright    96
         red       86
         pink      37
class 2  blue      30
         yellow    38
         green     63
dtype: int32

In [51]:
#显示构造----使用数组
data=np.random.randint(0,100,size=(6,6))
index=pd.MultiIndex.from_arrays(
    [['class 1','class 1','class 1','class 2','class 2','class 2'],
           ['bright','red','pink','blue','yellow','green'] ])
columns=[['MID','MID','MID','FIN','FIN','FIN'],
             ['chinese','math','english','chemics','pysics','biology']]

df1=pd.DataFrame(data=data,index=index,columns=columns)
df1

                   MID                  FIN
               chinese math english chemics pysics biology
class 1 bright      86    9      52      65     80       3
        red         16   10      20      61     75      17
        pink        91   95      22      49     70      43
class 2 blue         7   46      41      88     36       4
        yellow       9   16      88      20     55       7
        green       84    1      28      93     18      35

In [54]:
#显示构造----使用元组
data=np.random.randint(0,100,size=(6,6))
index=pd.MultiIndex.from_tuples(
    (('class 1','bright'),('class 1','red'),('class 1','pink'),
    ('class 2','blue'),('class 2','yellow'),('class 2','green'))
)
columns=[['MID','MID','MID','FIN','FIN','FIN'],
             ['chinese','math','english','chemics','pysics','biology']]

df1=pd.DataFrame(data=data,index=index,columns=columns)
df1

                   MID                  FIN
               chinese math english chemics pysics biology
class 1 bright      78    1      53      97     61      69
        red         70   87      69      46     92      70
        pink         9   33      95      48     19      65
class 2 blue        43   87      97      48     11      33
        yellow      23   43      63      64     15      97
        green       47   55      38      52     77      27

In [59]:
#显示构造----使用笛卡尔积---不同层的行列名一样
data=np.random.randint(0,100,size=(6,6))
index=pd.MultiIndex.from_product([
    ['class 1','class 2'],
      ['bright','red','pink']])
columns=[['MID','MID','MID','FIN','FIN','FIN'],
             ['chinese','math','english','chemics','pysics','biology']]

df1=pd.DataFrame(data=data,index=index,columns=columns)
df1

                   MID                  FIN
               chinese math english chemics pysics biology
class 1 bright      57   25       8      67     77      54
        red          6   32      43      17      0      73
        pink        11   17      54      64     65      67
class 2 bright      94   14      34      85     70      18
        red          3   88      44      56     51      89
        pink        47    1      94      17     77      86

In [ ]:
多层索引对象的索引与切片

In [60]:
#series 的操作
#多层series
import pandas as pd
import numpy as np
import random 

data=np.random.randint(0,100,size=(6))
index=[['class 1','class 1','class 1','class 2','class 2','class 2'],
       ['bright','red','pink','blue','yellow','green'] ]
s=pd.Series(data=data,index=index)
s

class 1  bright    55
         red       44
         pink      22
class 2  blue       6
         yellow    94
         green     35
dtype: int32

In [65]:
#显示
#第一层
print(s['class 1'])
print(s.loc['class 1'])
print(s[['class 1']])
s[['class 1','class 2']]

bright    55
red       44
pink      22
dtype: int32
bright    55
red       44
pink      22
dtype: int32
class 1  bright    55
         red       44
         pink      22
dtype: int32

class 1  bright    55
         red       44
         pink      22
class 2  blue       6
         yellow    94
         green     35
dtype: int32

In [70]:
#显式
# #第二层
print(s['class 1']['red'])
print(s['class 1','red'])
print(s.loc['class 1']['red'])
print(s.loc['class 1','red'])

44
44
44
44

In [74]:
#隐式
# #第二层
print(s[0])
print(s[1])
print(s.iloc[1])
s.iloc[[1,2]]

55
44
44

class 1  red     44
         pink    22
dtype: int32

In [76]:
#切片
# 显示切片--建议用隐式
print(s['class 1':'class 2'])
print(s.loc['class 1':'class 2'])
print(s.loc['class 1'][:])

class 1  bright    55
         red       44
         pink      22
class 2  blue       6
         yellow    94
         green     35
dtype: int32
class 1  bright    55
         red       44
         pink      22
class 2  blue       6
         yellow    94
         green     35
dtype: int32
bright    55
red       44
pink      22
dtype: int32

In [80]:
import pandas as pd
import numpy as np
import random 

data=np.random.randint(0,100,size=(6))
index=[['class 1','class 1','class 1','class 2','class 2','class 2'],
       ['bright','red','pink','blue','yellow','green'] ]
s=pd.Series(data=data,index=index)
print(s)
#隐式切片
print(s[1:5])
s.iloc[1:5]

class 1  bright    45
         red       63
         pink      53
class 2  blue       5
         yellow    27
         green     29
dtype: int32
class 1  red       63
         pink      53
class 2  blue       5
         yellow    27
dtype: int32

class 1  red       63
         pink      53
class 2  blue       5
         yellow    27
dtype: int32

# DataFrame 多层索引

In [81]:
#显示构造----使用笛卡尔积---不同层的行列名一样
data=np.random.randint(0,100,size=(6,6))
index=pd.MultiIndex.from_product([
    ['class 1','class 2'],
      ['bright','red','pink']])
columns=[['MID','MID','MID','FIN','FIN','FIN'],
             ['chinese','math','english','chemics','pysics','biology']]

df1=pd.DataFrame(data=data,index=index,columns=columns)
df1

                   MID                  FIN
               chinese math english chemics pysics biology
class 1 bright      96   19      55      58     17      24
        red          8   33      40      20     23       8
        pink        38   55      17      10      6       1
class 2 bright      56   80       4      90     44      28
        red         51    4      49      57     23      80
        pink        95   27      11      84     22      21