In [9]:
import pandas as pd
import numpy as np
import random 
d={
  'A':np.random.randint(0,10),
  'B':np.random.randint(0,10), 
  'C':np.random.randint(0,10),
  'D':np.random.randint(0,10),
 }
df=pd.DataFrame(d,index=list('0123'))
df

   A  B  C  D
0  9  6  5  8
1  9  6  5  8
2  9  6  5  8
3  9  6  5  8

In [5]:
import pandas as pd
import numpy as np
import random 
df=pd.DataFrame(
    data =np.random.randint(10,100,size=(4,6)),
    index=['bright','red','yellow','green'],
    columns=['chinese','math','english','chemics','pysics','biology']
    )
print(df)

        chinese  math  english  chemics  pysics  biology
bright       41    97       74       54      33       99
red          38    93       29       38      62       69
yellow       85    91       86       89      14       88
green        94    95       87       41      98       45

In [14]:
print(df[1:3])
print(df.iloc[3:])
print(df['bright':'yellow'])
df.loc['bright':'yellow']

        chinese  math  english  chemics  pysics  biology
red          38    93       29       38      62       69
yellow       85    91       86       89      14       88
       chinese  math  english  chemics  pysics  biology
green       94    95       87       41      98       45
        chinese  math  english  chemics  pysics  biology
bright       41    97       74       54      33       99
red          38    93       29       38      62       69
yellow       85    91       86       89      14       88

        chinese  math  english  chemics  pysics  biology
bright       41    97       74       54      33       99
red          38    93       29       38      62       69
yellow       85    91       86       89      14       88

In [29]:
print(df.iloc[:,3:])
df.loc[:,'math':'pysics']

        chemics  pysics  biology
bright       54      33       99
red          38      62       69
yellow       89      14       88
green        41      98       45

        math  english  chemics  pysics
bright    97       74       54      33
red       93       29       38      62
yellow    91       86       89      14
green     95       87       41      98

In [31]:
print(df.iloc[1:3,3:6])
df.loc['red':'green','math':'pysics']

        chemics  pysics  biology
red          38      62       69
yellow       89      14       88

        math  english  chemics  pysics
red       93       29       38      62
yellow    91       86       89      14
green     95       87       41      98